@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <ul class="list-unstyled user-profile-nav">

            <li><a href="@Url.Action("EditUser","Account", new { id = User.Identity.GetUserId()})"><i class="icon ion-ios-person-outline"></i> Edit Profile</a></li>
            <li><a href="@Url.Action("ChangePassword","Account")"><i class="icon ion-ios-gear-outline"></i> Change Password</a></li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>

    }
}